<div>
  <form [formGroup]="rForm" (ngSubmit)="login(rForm.value)">
    <div class="form-container">
      <div class="row column">

        <h1>Sign In!</h1>

        <div class="inputs">
          <label for="name">Name of email</label>
          <input  class="form-control" type="text" formControlName="name" id="name">
          
          <label for="password">Password</label>
          <input  class="form-control" type="password" formControlName="password" id="password">
        </div>
        
        <input type="submit" class="btn btn-success" value="Submit" [disabled]="!rForm.valid">
      </div>
    </div>
  </form>
</div>