.message {
  color: #a94442;
  background-color: #f2dede;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #ebccd1;
  border-radius: 4px;
}

ul {
  margin: 0;
}

.close {
  float: right;
  position: relative;
  color: inherit;
  text-shadow: 0 1px 0 #fff;
  font-weight: 700;
}